* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html {
  font-size: 18px;
  padding: env(safe-area-inset);
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
	color: black;
	text-decoration: none;
}

a:hover,
a:visited:hover {
	text-decoration: underline;
}

body {
  display: block;
  max-width: 1280px;
  margin: auto;
	font-family: neue-haas-unica, Helvetica, sans-serif;
}

.photo img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.name,
.about,
.research h3,
main {
	width: 80%;
  margin-left: auto;
  margin-right: auto;
	color: black;
}

.name {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.name h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

.name h2 {
  font-size: 1.6rem;
  font-weight: 300;
}

.about {
  margin-bottom: 4rem;
}

.about h2 {
  font-weight: 400;
  font-size: 1.0rem;
  margin-bottom: 1.2rem;
}

.about h3 {
  font-weight: 300;
  font-size: 1.0rem;
  margin-bottom: 0.8rem;
}

.research {
  font-size: 1.0rem;
  background-color: #E0E0E0;
  padding: 4rem 0rem;
}

.research h3 {
  font-weight: 400;
  font-size: 1.0rem;
  margin-bottom: 1rem;
}
.research h3:last-of-type {
  margin-bottom: 0rem;
}

main {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

section {
  margin-bottom: 4rem;
}
section:last-of-type {
	margin-bottom: 2rem;
}

section h3,
.description p {
  margin-bottom: 1rem;
}

section h3 {
  font-weight: 600;
  font-size: 1rem;
}

.description {
  margin-bottom: 1.2rem;
}

.figure {
  display: inline-block;
  width: 95%;
  text-align: center;
  margin-bottom: 0.8rem;
}

.figure img {
  width: 75%;
  max-width: 300px;
}

#grid1 {
  display: none
}

#rafts2 {
  display: none
}

.references th,
.references td {
  font-size: 0.9rem;
  vertical-align: top;
  padding: 0rem 0.2rem;
  padding-bottom: 0.5rem;
}

.references th {
  font-weight: 300;
}

.references td {
  font-weight: 400;
}


/* Responsive design */


@media only screen and (min-width: 600px) {

  .about h2 {
    font-size: 1.2rem;
  }

  .about h3 {
    font-size: 1.2rem;
  }

  .research h3 {
    font-size: 1.2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

}

@media only screen and (min-width: 768px) {

  html {
    font-size: 20px;
  }

  .name {
    position: absolute;
    right: 50vw;
    top: 9vw;
    margin: 0rem;
  }
  
  .name h1 {
    font-size: 7vw;
    font-weight: 500;
    text-align: right;
    margin-bottom: 1rem;
  }
  
  .name h2 {
    font-size: 4vw;
    text-align: right;
    word-spacing: 1280px;
  }
    
  .about,
  .research h3,
  main {
    max-width: 768px;
  }

  .about {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .figure img {
    max-width: none;
    margin-left: 0%;
    margin-right: 4%;
  }
  .figure img:last-of-type {
    margin-right: 0%;
  }

  #grid1 {
    display: inline-block;
    width: calc(95% * 255/395);
  }

  #grid2 {
    width: calc(95% * 125/395);
  }

  #rafts1 {
    width: calc(95% * 130/395);
  }

  #rafts2 {
    display: inline-block;
    width: calc(95% * 265/395);
  }
	
}

@media only screen and (min-width: 1024px) {

  html {
    font-size: 22px;
  }

  .research {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

}

@media only screen and (min-width: 1280px) {

  body {
    margin-top: 2rem;
  }

  .name {
    position: absolute;
    top: calc(120px + 2rem);
  }
  
  .name h1 {
    font-size: 84px;
  }
  
  .name h2 {
    font-size: 48px;
  }
	
}
