* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100vw;
	min-width: 320px;
}

.photo {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	height: 50vw;
	max-width: 600px;
	min-height: 160px;
	max-height: 300px;
}

.photo picture {
	display: flex;
	justify-content: center;
	width: 100%;
}

.photo picture img {
	justify-content: center;
	width: 100%;
	height: 100%;
}

.article-spacer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-width: 320px;
	max-width: 600px;
}

article {
	width: 80%;
	font-family: 'Helvetica', sans-serif;
	color: black;
	padding-bottom: 8vw;
}

article h1 {
	font-size: calc(24px + 30%);
	font-weight: bold;
	padding-top: 0.5em;
	padding-bottom: 0.2em;
}

article h2 {
	font-size: calc(14px + 20%);
	font-weight: bold;
	padding-left: 0.5em;
	text-indent: -0.5em;
	padding-bottom: 0.1em;
}

article h3 {
	font-size: (14px + 20%);
	font-weight: bold;
	padding-top: 0.5em;
}

article p {
	font-size: (10px + 20%);
	font-weight: normal;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

a {
	color: black;
}

article h2 a {
	text-decoration: none;
}

article h3 a:hover,
article h3 a:visited:hover {
	text-decoration: none;
}

@media only screen and (min-width: 541px) and (min-height: 421px) {

	.photo {
		max-width: none;
		max-height: none;
		height: 100vh;
	}
	.photo picture {
		align-items: flex-end;
		padding: 20px;
		padding-bottom: 50px;
		width: auto;
		height: 100%;
	}
	.photo picture img {
		width: auto;
		height: 100%;
	}

	.article-spacer {
		max-width: none;
		padding: 50px;
	}

	.spacer {
		position: absolute;
		background-color: white;
	}
	#spacer-top {
		top: 0;
		left: 0;
		width: 100%;
		padding-top: 50px;
	}
	#spacer-left {
		top: 0;
		left: 0;
		height: 100vh;
		padding-left: 50px;
	}
	#spacer-right {
		top: 0;
		right: 0;
		height: 100vh;
		padding-right: 50px;
	}

	article {
		padding-bottom: 0px;
		position: absolute;
		color: black;
		top: 15%;
	}
	article h1 {
		padding-top: 0em;
	}

	a {
		color: black;
	}

}

@media only screen and (min-width: 541px) and (max-aspect-ratio: 1/1) {

	article {
		left: 35%;
		width: 50%;
	}
	article h1 {
		font-size: calc(2.8vh + 2.8vw);
	}
	article h2,
	article h3 {
		font-size: calc(1.6vh + 1.6vw);
	}
	article p {
		font-size: calc(1.3vh + 1.3vw);
	}

}

@media only screen and (min-width: 541px) and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 3/2) {

	article {
		left: 40%;
		width: 45%;
	}

	article h1 {
		font-size: calc(2.6vh + 2.2vw);
	}
	article h2,
	article h3 {
		font-size: calc(1.8vh + 1.3vw);
	}
	article p {
		font-size: calc(1.5vh + 1.0vw);
	}

}

@media only screen and (min-width: 541px) and (min-height: 421px) and (min-aspect-ratio: 3/2) {

	.photo picture {
		width: 100%;
		height: 100%;
	}
	.photo picture img {
		width: 100%;
		height: auto;
	}

	article {
		left: 45%;
		width: 40%;
	}
	article h1 {
		font-size: calc(6.5vh + 0.1vw);
	}
	article h2,
	article h3 {
		font-size: calc(3.5vh + 0.1vw);
	}
	article p {
		font-size: calc(2.0vh + 0.6vw);
	}

}
